[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "futile.logger"]
	path = futile.logger
	url = https://github.com/zatonovo/futile.logger
